@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Quill CSS */
.ql-editor {
    min-height: 200px;
    max-height: 500px;
}

.rich-text-read-editor > .ql-toolbar {
    display: none;
}

.rich-text-read-editor > .ql-container {
    border: none !important;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
